<!DOCTYPE html>
{{ $err := .logic.Left }}
{{ $link := .logic.Right }}
<head>
	<style>
body: {
	background-color: #1F1F1F;
	color: white;
}
	</style>
</head>
<body>
	<h1 style="color: #F66">
		{{ $err }}
	</h1>
	<h2>
		<a href="{{$link}}">
			Return To Post
		</a>
	</h2>
</body>
