<!DOCTYPE html>
<html>
<head>
	<link href="/files/css/social/create.css" rel="stylesheet" type="text/css">
</head>
<body>
	{{ template "nav" . }}
	{{ template "social-tab" 4 }}
	{{ template "social-focus" . }}
	{{if .logic.error}}
		<h1>{{.logic.error}}</h1>
	{{else}}
	<form method="POST">
		<textarea name="postText"></textarea>
		<br>
		<select name="communityid">
			{{ range $comm := .allcommunities.IterValues }}
				<option title={{$comm.Description}} value={{$comm.CommunityID}}>{{$comm.Name}}</option>
			{{ end }}
		</select>
		<button type="submit">Post!</button>
	</form>
	{{end}}
</body>
</html>
