<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link href="/files/css/social/feed.css" rel="stylesheet" type="text/css">
	<title>PostBoard | Error!</title>
</head>
<body>
	{{ template "social-focus" }}

	<center>
		<h1 style="color: #FF6565;"> Inter-connected error: {{ .Left }} </h1>
		<h1><a href="{{.Right}}">Go Back</a></h1>
		<h2> <a href="/">Home</a> </h1>
		<h2> <a href="/social/all">All</a> </h1>
	</center>

</body>
</html>

