<!DOCTYPE html>
<html>
<head>
	<link href="/files/css/social/feed.css" rel="stylesheet" type="text/css">
	<link href="/files/css/social/post.css" rel="stylesheet" type="text/css">
</head>
<body>
	{{ template "nav" . }}
</body>
