<!DOCTYPE html>
<html>
	<head>
		<script>
			name = {{ .acc.name }};
			email = {{ .acc.email }};
		</script>
		<script src="/files/js/chat.js"></script>
		<link href="/files/css/chat.css" rel="stylesheet" type="text/css">
	</head>
	<body style="background-color: #1F1F1F">
		{{ template "nav" . }}
		<div id="chatapp">
			<input  id="msg" type="text" />
			<button id="send" type="button">Send</button>
			<div id="chatlog"> </div>
		</div>
	</body>
</html>

