<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
			{{ template "top nav init" }}
			<li><a href="/users">Users</a></li>
			<li><a href="/chat">Chat</a></li>
			{{ template "acc nav" . }}
			{{ template "top nav end" }}
	</body>
</html>

