<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/files/css/acc.css">
	</head>
	<body>
		<span class="acc">
			{{ if .acc.ok }}
				<h2>Olá {{.acc.name}}</h2>
			{{ else }}
				<h2>Olá</h2>
				<h3><a href="login">Login!</a></h3>
			{{ end }}
		</span>
		<table>
			<thead>
				<th>Email</th>
				<th>Name</th>
			</thead>
			<tbody>
				{{ range $email, $acc := .accounts }}
					<tr>
						<td>{{ $email }}</td>
						<td>{{ $acc.Name }}</td>
					</tr>
				{{ end }}
			</tbody>
		</table>
	</body>
</html>

