<!DOCTYPE html>

{{ define "acc nav" }}
	<span style="float: right;">
		{{ if .acc.ok }}
		<p style="display: inline-block">
			Olá {{.acc.name}}
			<a href="login">Change Account!</a>
		</p>
		{{ else }}
		<p style="display: inline-block">
			Olá
			<a href="login">Login!</a>
			</p>
		{{ end }} 
	</span>
{{ end }}
