<!DOCTYPE html>

{{ define "top nav init" }}
<style>

#top-nav  {
	background-color: darkgrey;
	color: black;
	display: inline-block;
	padding-left: 1%;
	width: 99%;
	height: 40px;
}

#top-nav > ul {
	display: inline;
	width: 100%;
}

#top-nav > ul > li {
	padding-left: 20px;
	display: inline;
	margin: auto;
}

#top-nav > ul > li > a {
	font-size: 20px;
	color: black;
	display: inline;
}

</style>

<nav id="top-nav">
	<ul id="top-nav">
{{ end }}

{{ define "top nav end" }}
	</ul>
	</nav>
{{ end }}

{{ define "nav acc" }}
	<span style="float: right;">
		{{ if .acc.ok }}
		<p style="display: inline-block">
			Olá {{.acc.name}}
			<a href="/login">Change Account!</a>
		</p>
		{{ else }}
		<p style="display: inline-block">
			Olá
			<a href="/login">Login!</a>
			</p>
		{{ end }}
	</span>
{{ end }}

{{ define "nav chat" }}
	<li><a href="/chat">Chat</a></li>
{{ end }}

{{ define "nav users" }}
	<li><a href="/users">Users</a></li>
{{ end }}

{{ define "nav ecb" }}
	<li><a href="/ecb">Easy ClipBoard</a></li>
{{ end }}

{{ define "nav forms" }}
	<li><a href="/forms">Forms</a></li>
{{ end }}

{{ define "nav index" }}
	<li><a href="/">Home</a></li>
{{ end }}

{{ define "nav pdb" }}
	<li><a href="/pdb">Personal DB</a></li>
{{ end }}

{{ define "nav social" }}
	<li><a href="/social">PostBoard</a></li>
{{ end }}

{{ define "nav" }}
		{{ template "top nav init" }}
		{{ template "nav index" . }}
		{{ template "nav chat" . }}
		{{ template "nav users" . }}
		{{ template "nav ecb" . }}
		{{ template "nav forms" . }}
		{{ template "nav pdb" . }}
		{{ template "nav acc" . }}
		{{ template "nav social" . }}
		{{ template "top nav end" }}
{{ end }}

