<!DOCTYPE html>

{{ define "social-create" }}
	<center>
		<a class="selections" href="/social/all">/all!</a>
		<a class="selections" href="/social/subbed">/subbed!</a>
		<a class="selections" href="/social/saved">/saved!</a>
		<a class="action" href="/social/posts/create">Create a post!</a>
		<a class="action" href="/social/community/create">Create a community!</a>
	</center>
{{ end }}

{{ define "social-posts" }}
	<center>
		{{ template "social-sort" . }}
		&nbsp;
		<a class="selections" href="/social/all">/all!</a>
		<a class="selections" href="/social/subbed">/subbed!</a>
		<a class="selections" href="/social/saved">/saved!</a>
		<a class="action" href="/social/posts/create">Create a post!</a>
		<a class="action" href="/social/community/create">Create a community!</a>
	</center>
{{ end }}

{{ define "social-sort" }}
<script>

addEventListener("load", ()=>{
	// Sort Method Selector
	const SMS = document.getElementById("social-sortmethod-selection");
	SMS.addEventListener("change", ()=>{
		location.replace(location.pathname+`?sortmethod=${SMS.value}`)
	})
})

</script>
{{ $sm := .urlinfo.query.Get "sortmethod" }}
<label for="social-sortmethod-selection">Sort Method:</label>
<select id="social-sortmethod-selection">
	{{ range $i := .allsorts }}
		{{ if eq $sm $i}}
			<option selected value="{{$i}}">{{$i}}</option>
		{{ else }}
			<option value="{{$i}}">{{$i}}</option>
		{{ end }}
	{{ end }}
</select>
{{ end }}

