<!DOCTYPE html>
{{ define "social" }}
	<center>
		<a href="/social/all">/all!</a>
		<a href="/social/posts/create">Create a post!</a>
		<a href="/social/community/create">Create a community!</a>
	</center>
{{ end }}
