 <!DOCTYPE html> <html> <head> <link href="/files/ex.css" rel="stylesheet" type="text/css"> </head> <body> 

<div class="post page" id="post-1">
	<span class="op">
		<span class="name">[TEST] pedro</span>
		<span class="email">test_pedro@manse.dev</span>
	</span>
	<div class="content">
		<h1>Hello everybody!</h1>

	</div>
	
	<div id="reactions" class="reactions">
		<span class="reactionCount">
			<span class="likes"> 1 </span>
			<span class="dislikes"> 1 </span>
		</span>
		<span class="react">
			
				
			
				
	<button title="Like" style="color: green;" class="reaction selected" hx-post="/social/post/react/?reaction=1&postid=1">
		<img src="/files/img/reaction_like" alt="↑">
	</button>
	
			
				
	<button title="Dislike" style="color: red;" class="reaction notSelected" hx-post="/social/post/react/?reaction=2&postid=1">
		<img src="/files/img/reaction_dislike" alt="↓">
	</button>
	
			
				
	<button title="Love" style="color: pink;" class="reaction notSelected" hx-post="/social/post/react/?reaction=3&postid=1">
		<img src="/files/img/reaction_love" alt="<3">
	</button>
	
			
				
	<button title="Hate" style="color: red;" class="reaction notSelected" hx-post="/social/post/react/?reaction=4&postid=1">
		<img src="/files/img/reaction_hate" alt="`^´">
	</button>
	
			
				
	<button title="Laugh" style="color: white;" class="reaction notSelected" hx-post="/social/post/react/?reaction=5&postid=1">
		<img src="/files/img/reaction_laugh" alt="XD">
	</button>
	
			
		</span>
		<span class="commentCount">
		7
		</span>
		<div class="comments">
			
				
				
	<div class="comment" id="comment-1">
	<span class="op">
		<span class="name">[TEST] pedro</span>
	</span>
		<span class="email">test_pedro@manse.dev</span>
	<div class="content">
		Hii!
	</div>
	<div class="children">
	<div class="comment border_1" id="comment-2">
	<span class="op">
		<span class="name">[TEST] pedro</span>
		<span class="email">test_pedro@manse.dev</span>
	</span>
	<div class="content">
		Hii! father
	</div>
	<div class="children">
	<div class="comment border_2" id="comment-4">
	<span class="op">
		<span class="name">[TEST] pedro</span>
		<span class="email">test_pedro@manse.dev</span>
	</span>
	<div class="content">
		hi father, father
	</div>
	<div class="children">
	<div class="comment border_3" id="comment-5">
	<span class="op">
		<span class="name">[TEST] pedro</span>
		<span class="email">test_pedro@manse.dev</span>
	</span>
	<div class="content">
		hi father, father, fater
	</div>
	<div class="children">
	<div class="comment border_4" id="comment-6">
	<span class="op">
		<span class="name">[TEST] pedro</span>
		<span class="email">test_pedro@manse.dev</span>
	</span>
	<div class="content">
		hi father, father, father, father
	</div>
	<div class="children">
	<div class="comment border_1" id="comment-7">
	<span class="op">
		<span class="name">[TEST] pedro</span>
		<span class="email">test_pedro@manse.dev</span>
	</span>
	<div class="content">
		hi father, father, father, father, father
	</div>
	<div class="children"></div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	</div>
	
			
				
				
	<div class="comment" id="comment-3">
	<span class="op">
		<span class="name">[TEST] pedro</span>
	</span>
		<span class="email">test_pedro@manse.dev</span>
	<div class="content">
		Hii! i'm alone
	</div>
	<div class="children"></div>
	</div>
	
			
		</div>
	</div>
</div>
</body> </html>
