<span class="reactions">
	{{ $userReaction := .logic.comment.Reactions.GetI .logic.query.AccID }}
	<span class="reactionCount">
		<span class="likes"> {{ .logic.comment.LikeCount.Load }} </span>
		<span class="dislikes"> {{ .logic.comment.DislikeCount.Load }} </span>
	</span>
	<span class="react">
		{{ range $i, $info := .allreactions }}
			{{ $info.HTMLComment $userReaction $.logic.comment.CommentID }}
		{{ end }}
	</span>
</span>

