
body {
	color: white;
	background-color: #1F1F1F;
	margin: 4px;
}

div.post {
	border-style: solid;
	border-color: gray;
	padding: 5px;
	color: white;
	margin: 4px;
}

span.commentCount:before { content: "💬"; }
span.commentCount:after { content: " | "; }
div.post > div.comments > div { font-size: 18px; }
div.post > div.content { font-size: 28px; }

span.reactions {
	span.reactionCount {
		span.likes { color: green; }
		span.likes:after { color: white; content: "/"; }
		span.dislikes { color: red; }
	}

	span.react {
		z-index: 1;
		position: relative;
		button.reaction.notSelected > img {
			color: gray;
		}

		button.reaction {
			background-color: #1F1F1F;
		}

		button.selected {
			color: red;
		}
	}
}

span.op {
	.name { color: #4080FF; }
	.email { color: #4F4F4F; }
	.email:before { content: "<"; }
	.email:after { content: ">"; }
}

div.post > span.op {
	font-size: 18px;
}

div.comment > span.op {
	font-size: 11px;
}


div.comment {
	border-style: unset;
	border-left-style: solid;
	margin: 4px;
	padding: 4px;
	.border_1 { border-color: darkblue; }
	.border_2 { border-color: darkred; }
	.border_3 { border-color: darkgreen; }
	.border_4 { border-color: #8F8F8F8F; }
}

a.fill-div {
	color: white;
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}

