
div.post.page {
	div.content {
		a.fill-div {
			h1 { margin: 10px; }
			h2 { margin: 8px; }
			h3 { margin: 6px; }
			h4 { margin: 4px; }
			h5 { margin: 2px; }
			h6 { margin: 1px; }
		}
	}
}

div.comments {
	div.comment {
		div.content {
			p {
				margin: 2px 0px 4px 3px;
			}
		}
	}
}

div.comment {
	border-style: unset;
	border-left-style: solid;
	margin: 4px;
	padding: 4px;
	.border_1 { border-color: darkblue; }
	.border_2 { border-color: darkred; }
	.border_3 { border-color: darkgreen; }
	.border_4 { border-color: #8F8F8F8F; }
}

button.reply-getter {
	padding: 0px;
	border-radius: 0;
	width: 20px;
	height: 20px;
	img {
		margin-bottom: -3px;
		border-radius: 0;
		height: 100%;
		width: 100%;
	}
}

div.comment:target {
	border-top: dashed;
	border-bottom: dashed;
	border-top-color: #E1E1E166;
	border-bottom-color: #E1E1E166;
}

